- content_for :title do
  Your Stacks

- content_for :header do
  %h1 Your Stacks

- content_for :body do
  .container
    .navbar.navbar-full.navbar-light.bg-faded
      %h1.navbar-brand Stacks
      %ul.nav.navbar-nav.pull-xs-right
        %a.btn.btn-primary-outline{ href: "/stacks/new" }
          New

    - if @stacks.any?
      = partial 'stacks/table', locals: { stacks: @stacks }
    - else
      %p
        You have no stacks yet!
