- content_for :title do
  New Frame

- content_for :header do
  %h1 New Frame
  %p.lead
    For Stack:
    %a{ href: "/stacks/#{ @frame.stack.id }" } #{ @frame.stack.name }

- content_for :body do
  .container
    .row
      .col-xs-4
      .col-xs-4
        = partial 'frames/form', locals: { frame: @frame, processors: @processors }
