%form{ method: :post, action: '/chronotriggers' }
  %fieldset.form-group
    %label{ for: :stack } Stack
    - if defined?(current_stack)
      %p.form-control-static= current_stack.name
      %input{ type: :hidden, id: :stack, name: :stack, value: current_stack.id }
    - else
      %select.form-control{ id: :stack, name: :stack }
        - stacks.each do |stack|
          %option{ value: stack.id }= stack.name

  %fieldset.form-group
    %label{ for: :name } Name
    %input.form-control{ type: :text, id: :name, name: :name }

  %fieldset.form-group
    %label{ for: :run_at } Run at Time
    %input.form-control{ type: :time, id: :run_at, name: :run_at }

  %fieldset.form-group
    %label{ for: :run_at_tz } Timezone
    %select.form-control{ id: :run_at_tz, name: :run_at_tz }
      - ActiveSupport::TimeZone.all.each do |tzone|
        %option{ value: tzone.tzinfo.name, selected: ( tzone.tzinfo.name == 'America/Denver' ) }= tzone.name

  %fieldset.form-group
    %label{ for: :repeat } Weeks between Repeats
    %input.form-control{ type: :number, min: 0, value: 1, id: :repeat, name: :repeat }

  %fieldset.form-group
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :sunday }
        Sunday
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :monday, checked: true }
        Monday
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :tuesday, checked: true }
        Tuesday
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :wednesday, checked: true }
        Wednesday
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :thursday, checked: true }
        Thursday
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :friday, checked: true }
        Friday
    .checkbox
      %label
        %input{ type: :checkbox, name: 'day_mask[]', value: :saturday }
        Saturday

  %fieldset.form-group
    %button.btn.btn-primary.btn-block{ type: 'submit' }
      Create
