.container
  - key ||= :flash
  - id = (key == :flash ? "flash" : "flash-#{key}")
  - unless flash(key).empty?
    - flash(key).collect do |type, msg|
      %div.alert{ id: id, class: [ type, "alert-#{ type }" ] }
        = msg
