.container-fluid
  .container
    %p
      %strong Mr. Markov
      by
      %a{ href: 'https://joshisa.ninja' }
        joshisa.ninja.
      The content is licensed
      %a{ href: "http://creativecommons.org/licenses/by-nc-sa/4.0/" }
        CC ANS 4.0
      unless otherwise noted.

    %p
      Built with
      %a{ href: "www.sinatrarb.com" }
        Sinatra (Backend)
      and
      %a{ href: "http://getbootstrap.com" }
        Bootstrap
