%nav.navbar.navbar-full.navbar-light.bg-faded
  .container
    %a.navbar-brand{ href: '/' } Mr Markov

    %ul.nav.navbar-nav.pull-xs-right
      - if logged_in?
        %li.nav-item
          %a.nav-link{ href: '/settings' }
            Heya #{ current_user.username }!

        %li.nav-item
          %a.nav-link{ href: '/logout' }
            %small
              (Logout)

      - else
        %li.nav-item
          %a.nav-link{ href: '/login' }
            Login

.jumbotron.jumbotron-fluid
  .container
    = yield_content :header

= partial :flash
