- content_for :title do
  Login

- content_for :header do
  %h1 Login

- content_for :body do
  .container
    .row
      .col-xs-4
      .col-xs-4
        %form{ action: '/login', method: 'post' }
          %fieldset.form-group
            %input.form-control{ type: 'text', placeholder: 'Username', name: 'username' }
          %fieldset.form-group
            %input.form-control{ type: 'password', placeholder: '*******', name: 'password' }

          %fieldset.form-group
            %button.btn.btn-primary.btn-block{ type: 'submit' }
              Login
